# Visual Studio Code
.vscode/

# IntelliJ
.idea/

# Python compiled files and directories
__pycache__/

# resources folder
data/

# files in any subdirectory
**/*.json
**/.env*
**/.log
**/*.csv
**/*.png

# sample environment setup
!.env.sample

# Include visualization data
!/visualization/**/*.json